
.logo-img{
  background: url("logo-report.png") no-repeat 0px 5px;
  background-size: 100px 50px;
  width:100px;
  height:60px;
  float: left;
}


.home-icon{
  background: url("home.png") no-repeat 0px 0px;
  background-size: 25px 25px;
  width:25px;
  height:25px;
  float: right;
  margin:0 10px 0 10px;
}


.logout-icon{
  background: url("logout.png") no-repeat 0px 0px;
  background-size: 25px 25px;
  width:25px;
  height:25px;
  float: right;
  margin:0 10px 0 10px;
}

.fullscreen-icon{
  background: url("fullscreen.png") no-repeat 0px 0px;
  background-size: 25px 25px;
  width:25px;
  height:25px;
  float: right;
  margin:0 10px 0 10px;
}

