
.table-page-root{
  width:calc(100% - 40px);
  margin:20px 20px 20px 20px;
  height:calc(100% - 40px);
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: left;
}

.modal-form{
  margin:0 20% 0 10%;
}
